<!-- !!!DEPRECATED!!! -->
<div style="position: fixed; top: 10%; left: 50%; transform: translate(-50%); width: 50%; margin: auto; background-color: yellow; color: black; padding-left: 0.5em;">
    <h1>!!! DEPRECATED !!!</h1>
    <p>My website has moved. I have an actual domain name now, and it's hosted on a VPS. These pages have been kept solely as an archive, and to not break any links leading to them.</p>
    <p>Please go to <a href="https://mitchy.xyz/">https://mitchy.xyz/</a> for the up-to-date site. (continue to the current path here: <a href="https://mitchy.xyz{{ page.url }}">{{ page.url }}</a>)</p>
</div>

<div style="position: fixed; bottom: 10%; left: 50%; transform: translate(-50%); width: 50%; margin: auto; background-color: yellow; color: black; padding-left: 0.5em;">
    <h1 style="font-size: 1em;">!!! DEPRECATED !!!</h1>
</div>
